Informe de salida

Resumen Ejecutivo
Este informe describe los resultados del proyecto de machine learning y presenta los principales logros y lecciones aprendidas durante el proceso.

Resultados del proyecto
Las metricas alcanzadas son muy bajas en relación con el modelo base descrito en el paper https://github.com/ouladsayadyounes/Wildfires

Lecciones aprendidas
Es necesario intentar con otros parámetros para mejorar su rendimiento. Identificación de los 

Agradecimientos al equipo de trabajo y a los colaboradores que hicieron posible este proyecto.
Agradecimientos especiales a los patrocinadores y financiadores del proyecto.